<%- include('../../partials/_head.ejs') %>

    </head>

    <body>
        <%- include('../../partials/_nav.ejs') %>
            <h1>Manager</h1>
            <div class="managers-container">
                <ul class="managers-list">
                    <li class="managers-list-item"><a href="/admin/manage/store">Store</a></li>
                </ul>
            </div>

    </body>

    </html>