$theme-main: #2a2c34;
$theme-contrast: #e1e2ff;
$theme-contrast-darker: #8383aa;

:root {
  --theme-main: $theme-main;
  --theme-contrast: $theme-contrast;
  --theme-contrast-darker: $theme-contrast-darker;
}
