<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExpressMart : Admin</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/admin">Admin</a></li>
            <li><a href="/store">Store</a></li>
        </ul>
    </nav>
    <h1 class="text-center">Admin</h1>
    <h2>Admin Tasks</h2>
    <a href="/admin/manage">
        <h3> Module Manager</h3>
    </a>
    <p></p>

</body>

</html>