:root {
  --theme-main: $theme-main;
  --theme-contrast: $theme-contrast;
  --theme-contrast-darker: $theme-contrast-darker; }

body {
  padding-top: 65px;
  color: #e1e2ff;
  background-color: #2a2c34;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; }

a {
  color: #8383aa;
  text-decoration: none; }
  a:visited, a:active {
    color: #8383aa; }
  a:hover {
    color: white;
    transform: scale(1.15); }

.text-center {
  text-align: center !important; }

.navbar {
  position: fixed;
  width: 100%;
  height: 65px;
  top: 0;
  left: 0;
  background-color: #e1e2ff; }
  .navbar ul {
    display: flex; }
  .navbar li {
    padding: 0 2rem;
    font-size: 24px;
    list-style: none; }

.form-input {
  display: block;
  width: 100%;
  display: flex;
  padding: 0.5rem; }
  .form-input label {
    width: 33%; }
  .form-input input,
  .form-input textarea {
    width: 67%;
    border: 1px solid #ddd; }

.form-submit {
  margin: 0.5rem auto;
  display: block; }

.paper {
  padding: 2rem;
  background-color: white;
  border-radius: 2px;
  color: #8383aa; }
