body {
  color: white;
  background-color: #2d2c34;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.text-center {
  text-align: center;
}

a {
  color: #ffc3c3;
}
a:visited,
a:active,
a:hover {
  color: #ff8888;
}
